<h1>Add a New Element</h1>

<form method="POST">
	<fieldset>
		<div>
			<label for="elementName">Name</label>
			<input name="elementName" type="text" />
		</div>
		<div>
			<label for="elementDescription">Description</label>
			<textarea name="elementDescription"></textarea>
		</div>
		<div>
			<input type="submit" value="Submit" />
		</div>
	</fieldset>
</form>
