<h1 class="f2 mt0">Add a New Element</h1>

<form method="POST">
	<fieldset class="bn ma0 pa0">
		<div class="dt w-100 pa3 bt b--light-gray">
			<div class="dtc w-25 pv1 pr3 v-top">
				<label for="name">Name</label>
			</div>
			<div class="dtc">
				<input class="dib w-80 h2 ba b--silver" name="name" type="text" />
			</div>
		</div>
		<div class="dt w-100 pa3 bt bb b--light-gray">
			<div class="dtc w-25 pv1 pr3 v-top">
				<label for="description">Description</label>
			</div>
			<div class="dtc">
				<textarea class="dib w-80 h4 ba b--silver" name="description"></textarea>
			</div>
		</div>
		<div class="pv4">
			<input class="input-reset bn bg-blue hover-bg-dark-blue bg-animate ph4 pv3 white dib br2 pointer" type="submit" value="Submit" />
			<a class="no-underline bg-light-silver hover-bg-silver bg-animate ph4 pv3 white dib br2 ml2" href="/">Cancel</a>
		</div>
	</fieldset>
</form>
