<h1>Add a New Element</h1>

<form method="POST">
	<fieldset>
		<div>
			<label for="name">Name</label>
			<input name="name" type="text" />
		</div>
		<div>
			<label for="description">Description</label>
			<textarea name="description"></textarea>
		</div>
		<div>
			<input type="submit" value="Submit" />
		</div>
	</fieldset>
</form>
