<h1>Add a New Element</h1>

<form method="POST">
	<fieldset>
		<div>
			<label for="name">Name</label>
			<input name="name" type="text" />
		</div>
		<div>
			<label for="description">Description</label>
			<textarea name="description"></textarea>
		</div>
		<div>
			<input class="input-reset bn bg-blue hover-bg-dark-blue bg-animate ph4 pv3 white dib br2 pointer" type="submit" value="Submit" />
			<a class="no-underline bg-light-silver hover-bg-silver bg-animate ph4 pv3 white dib br2" href="/">Cancel</a>
		</div>
	</fieldset>
</form>
