<h1>Delete an Element</h1>

<p>Are you sure?</p>

<form method="POST">
 	<fieldset>
		<input type="hidden" name="elementId" value="{{elementId}}" />
		<input type="submit" value="Delete" />
		<a href="/">Cancel</a>
	</fieldset>
</form>
