<h1 class="f2">Delete an Element</h1>

<p>Are you sure?</p>

<form method="POST">
	<fieldset class="bn ma0 pa0">
		<input type="hidden" name="elementId" value="{{elementId}}" />
		<input class="input-reset bn bg-red hover-bg-dark-red bg-animate ph4 pv3 white dib br2 pointer" type="submit" value="Delete" />
		<a class="no-underline bg-light-silver hover-bg-silver bg-animate ph4 pv3 white dib br2" href="/">Cancel</a>
	</fieldset>
</form>
