<ul class="list pl0">
	{{#each elements}}
		<li>
			<h2><a href="/element/{{_id}}">&lt;{{name}}&gt;</a></h2>
			<ul class="list pl0">
				<li><a href="/edit/{{_id}}">Edit</a></li>
				<li><a href="/delete/{{_id}}">Delete</a></li>
			</ul>
		</li>
	{{/each}}
</ul>
<div class="tc">
	<a class="no-underline bg-blue hover-bg-dark-blue bg-animate ph4 pv3 white dib br2 pointer" href="/add">Add New Element</a>
</div>
